<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="css/navbar.css" th:href="@{/navbar.css}" rel="stylesheet">
    <style>
        body {
            background-color: #f5f5f5;
        }
        .res_con{
            width: 100%;
            height: 800px;
            display: flex;
        }
    </style>
    <!--<title th:if="${!empty(pageTitle)}" th:text="${pageTitle}"
    <th:text th:value="${pageTitle}">-->
    <title th:text="${title}"> Board </title>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark" th:fragment="menu(menu)" aria-label="Third navbar example" >
    <div class="container-fluid">
        <a class="navbar-brand" href="/">엔젤치과</a>
        <button class="navbar-toggler"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" id="navbarsExample03">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">병원소개</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/board/list">자주하는 질문</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">진료과목</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">온라인 상담</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/reserv/reserv">예약</a>
                </li>
            </ul>

        </div>

        </div>


</nav>
<div class="res_con">
    <iframe src='https://outlook.office365.com/owa/calendar/Bookings@office.seowon.ac.kr/bookings/' width='100%' height='100%' scrolling='yes' style='border:0'>
    </iframe>
</div>
<footer class="mt-auto text-white-50 bg-dark container-fluid">
    <p>상호명:엔젤치과 대표자:김길호 사업자 등록번호:111-01-111111</p>
</footer>
</body>
</html>