<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="css/navbar.css" th:href="@{/navbar.css}" rel="stylesheet">
    <style>
        body {
            background-image: url("img/background.PNG");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    <!--<title th:if="${!empty(pageTitle)}" th:text="${pageTitle}"
    <th:text th:value="${pageTitle}">-->
    <title th:text="${title}"> Board </title>
</head>
    <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" th:fragment="menu(menu)" aria-label="Third navbar example" >
        <div class="container-fluid">
            <a class="navbar-brand" href="/">씹덕쉑</a>
            <button class="navbar-toggler"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample03">
                <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/board/list">Board</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Not now</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown03">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="form-inline d-flex justify-content-end" method="GET" th:action="@{/board/list}">
                    <input class="form-control" type="text" placeholder="Search" id="search" name="searchText" aria-label="Search" th:value="${param.searchText}">
                    <button type="submit" class="btn btn-secondary">검색</button>
                </form>
            </div>
        </div>
    </nav>
    </body>